@page "/"
@using System.Timers


<style>
    .container {
        width: 400px;
    }

    button {
        width: 100px;
        height: 100px;
        font-size: 50px;
    }
</style>

<div class="container">
    <div class="row">
        @*
        Entendi porque ele colocou col-3 é porque ele vai quebrar em 4 pedaços, já que
        o grid tem 12 cols
        *@
        @for(var animalNumber = 0; animalNumber < shuffledAnimals.Count; animalNumber++)
        {
            var animal = shuffledAnimals[animalNumber];
            var uniqueDescription = $"Button #{animalNumber}";
            <div class="col-3">
                <button type="button" @onclick="@(()=>ButtonClick(animal,uniqueDescription))" class="btn btn-outline-dark">
                    <h1>@animal</h1>
                </button>
            </div>
        }
    </div>
    <div class="row">
        <h2>Matches Found: @matchesFound</h2>
    </div>
    <div class="row">
        <h2>Time: @timeDisplay</h2>
    </div>
</div>


@code {
    List<string> animalEmoji = new List<string>(){
"🐶","🐶",
"🐺","🐺",
"🐮","🐮",
"🦊","🦊",
"🐱","🐱",
"🦁","🦁",
"🐯","🐯",
"🐭","🐭",
};

    List<string> shuffledAnimals = new List<string>();
    int matchesFound = 0;
//garanto que vou dar um valor pra ele quando eu for usar.    
    Timer timer = default!;
    int tenthsOfSecondElapsed =0;
    string timeDisplay = string.Empty;
    protected override void OnInitialized()
    {
    timer = new Timer(100);
    timer.Elapsed += Timer_Tick;
        SetUpGame();
    }

    private void SetUpGame()
    {
        Random random = new Random();
        shuffledAnimals = animalEmoji
        .OrderBy(item => random.Next())
        .ToList();
        matchesFound = 0;
        tenthsOfSecondElapsed = 0;
    }

    string lastAnimalFound = string.Empty;
    string lastDescription = string.Empty;
    private void ButtonClick(string animal, string animalDescription){
        if(lastAnimalFound == string.Empty){
            //primeira seleção do animal
            lastAnimalFound = animal;
            lastDescription = animalDescription;
            timer.Start();
            
        }else if((lastAnimalFound == animal) && (lastDescription != animalDescription)){
            //combinação encontrada
            lastAnimalFound = string.Empty;

            //Substitua animais encontrados por uma string vazia e oculte-os
            shuffledAnimals = shuffledAnimals
            .Select(a=>a.Replace(animal, string.Empty))
            .ToList();
            matchesFound++;
            if(matchesFound == 8){
                timer.Stop();
                timeDisplay += " - Play Again?";

                SetUpGame();
            }
        }else{
            //usuario selecionou um par que não combina.
            //redefina a seleção
            lastAnimalFound = string.Empty;
        }
    }

    private void Timer_Tick(Object? source, ElapsedEventArgs e){
        InvokeAsync(()=>{
            tenthsOfSecondElapsed++;
            timeDisplay = (tenthsOfSecondElapsed / 10F)
            .ToString("0.00s");
            StateHasChanged();
        });
    }
}